.flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .column-s {
    flex: 0.9; /* Each column takes an equal portion of space initially */
    padding: 10px;
    text-align: center;
  }

  .column-xxs {
    flex: 0.6; /* Each column takes an equal portion of space initially */
    padding: 10px;
    text-align: center;
  }

  .column-l {
    flex: 3.0;
    padding: 10px;
    text-align: center;
  }